/*
Background main: #FFFFFF
Background aside: #838283
Background header/footer: #D1D1D1
text-color: #646466
*/

/*Layout*/

article, aside, details, figcaption, figure, 
footer, header, hgroup, main, menu, nav, 
section{
    display: block;
}

a:link 	    { color: black; }
a:visited 	{ color: gray; }
a:focus 	{ color: #838283; }
a:hover	    { color: #6495ED; background-color: white;}
a:active 	{ color: #FFFFFF; }

/*Container*/

#container {
    max-width: 960px;
    overflow: auto;
    margin: 0 auto;
}

/*----------------------------------------*/

/*Header*/

header h1 {
    border-style: solid;
    border-width: 1px;
    width: 958px;
    background-color: #D1D1D1;
    background-image: url(../pics/Logo5.png);
    background-repeat: round;
    background-position: left;
    text-indent: 300px;
    height: 180px;
}

header h2 {
    margin: 0 auto;
    border: 3px solid #838283;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

#bloggheader {
    margin: 10px 10px 10px 10px;
    text-align: center;
}

/*----------------------------------------*/

/*Navigation*/

nav {
    float: left;
    color: #646466;
    background-color: #838283;
    width: 168px;
}

nav li{
    border-bottom: 1px solid black;
    height: 64px;
}

nav a{
    float: left;
}

nav ul {
    list-style-type: none;
    margin: 0; 
    padding: 0;
}

nav > ul > li:nth-child(1){
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
}

nav a:nth-child(2) {
    float: left;
    background-image: url(pics/sprite.png);
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    top: 20px;
}

#home-icon          { background-position: 0 -48px;}
#home-icon:hover    { background-position: 0 0;}

#work-icon          { background-position: 0 -144px; }
#work-icon:hover    { background-position: 0 -96px; }

#bio-icon           { background-position: 0 -240px;}
#bio-icon:hover     { background-position: 0 -192px;}

#contact-icon       { background-position: 0 -336px;}
#contact-icon:hover { background-position: 0 -288px;}


nav a:nth-child(1){
    display: block;
    width: 144px;
    height: 43px;
    padding-top: 20px;
    text-align: center;
    color: black;
    text-decoration: none;

}

nav li:hover:nth-child(n+2) { color: #6495ED; background-color: white;}

li.active {
    background-color: white;
}

/*----------------------------------------*/

/*Content*/

main {
    float: left;
    max-width: 788px;
    background-color: #FFFFFF;
    padding-right: 50px;
    padding-left: 50px;
}

main, p {
    color: #646466;
    font-family: courier , serif;
    line-height: 130%;
    width: 640px;
}

.entry a {
    text-decoration: none;
    color: #838283;
    margin-left: 30px;
    border: 1px solid #838283;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.entryfooter {
    font-style: italic;
    border: none;
    background-color: white;
    
}

.blog {
    border-bottom: 2px solid #838283;
}
.comments {
    background-color: #F9F7FF;

}

h4 {
    font-weight: bold;
}
.commentheadline {
    font-weight: bold;
}

.commentfooter {
    font-style: italic;
}

/*----------------------------------------*/

/*Footer*/

#footer {
    border-style: solid;
    border-width: 1px;
    clear: both;
    max-width: 958px;
    background-color: #D1D1D1;
}

/*----------------------------------------*/

/*Presentation*/

#biopic{
    float: right;
    width: 50%;
    height: 50%;
    margin-left: 10px;
    margin-bottom: 10px;
}

/*----------------------------------------*/

/*Storleksanpassat bild i inlägg 2*/
#gubbe {
    max-width: 450px;
}

/*fonts*/
h1, h2, h3, ul, ol, li, form, a {
    color: #646466;
    font-family: courier , serif;
    line-height: 130%;
}

/*----------------------------------------*/

/*Tabell på laboration.html*/

main table tr td {
    width: 40%;
    border: 2px solid #838283;
    text-align: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
}

#table th {
    border: 2px solid #838283;
    font-size: 1.03em;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

tfoot {
    font-size: 1.03em;
}

/*----------------------------------------*/

/*Lagt till padding för att bulka upp index- och kontaktsidan.*/

#contact {
    padding-right: 20px;
    padding-left: 20px;
}

/*----------------------------------------*/

/*Anpassat headerns text*/

.headertitle {
    margin: 0 auto;
    text-indent: 360px;
    color: black;
    font-size: 2.25em;
}

/*----------------------------------------*/

/*Lagt till en bild vid blogginläggen*/

.entry {
    background-image: url(../pics/post.png);
    background-repeat: no-repeat;
    background-position: top left;
    text-indent: 35px;
}
.entrypic {
    float: right;
    width: 35%;
}

/*----------------------------------------*/

/*Formulär*/

#form fieldset {
    width: 350px;
    background-color: #D1D1D1;
}

.formframe {
    font-weight: bold;
}

.formunit {
    float: left;
    width: 100%;
}
/*----------------------------------------*/