/*Här börjar stilmallen*/

a:link 	    { color: black; }
a:visited 	{ color: gray; }
a:focus 	{ color: #838283; }
a:hover	    { color: #2F4F4F; }
a:active 	{ color: #FFFFFF; }

/*
Background main: #FFFFFF
Background aside: #838283
Background header/footer: #D1D1D1
text-color: #646466
*/

#container {
    max-width: 960px;
    overflow: auto;
    margin: 0 auto;
}
#header {
    border-style: solid;
    border-width: 1px;
    width: 958px;
    background-color: #D1D1D1;
    background-image: url(../pics/Logo5.png);
    background-repeat: round;
    background-position: left;
    text-indent: 300px;
    height: 200px;
}

#navigation {
    border-style: solid;
    border-width: 1px;
    float: left;
    width: 148px;
    background-color: #838283;
}

#navigation ul {
    border: 1px solid black;
    border-bottom: none;
    width: 148px;
    margin: 0; padding: 0;
}

#navigation li {
    list-style-type: none;
    border-bottom: 1px solid black;
    text-decoration: none;
}

#navigation li a {
    display: block;
    padding: 10px;
    background-color: #838283;
    color: black;
    text-decoration: none;
}

#navigation li a:hover {
    background-color: white;
    color: #51476F;
    text-decoration: none;
}


#content {
    border-style: solid;
    border-width: 1px;
    float: left;
    max-width: 808px;
    background-color: #FFFFFF;
    padding-right: 84px;
    padding-left: 84px;
}

#footer {
    border-style: solid;
    border-width: 1px;
    clear: both;
    max-width: 958px;
    background-color: #D1D1D1;
}

#gubbe {
    max-width: 450px;
}

p, h1, h2, h3, ul, ol, li, form, table {
    color: #646466;
    font-family: georgia , serif;
    line-height: 120%;
    width: 600px;
}

table {
    width: 90%;
}

#blogg {
    padding-right: 20px;
    padding-left: 20px;
}

#contact {
    padding-right: 20px;
    padding-left: 20px;
}

.headertitle {
    text-align: center;
    color: black;
}

h3.entry {
    background-image: url(../pics/post.png);
    background-repeat: no-repeat;
    background-position: top left;
    text-indent: 35px;
}