
/*Fotogalleri*/
main {
    /*background-color: #6C5D66;*/
    margin: 0 auto;
    overflow: auto;
}

#bg {
      position: fixed; 
      top: 0; 
      left: 0; 
      min-width: 100%;
      min-height: 100%;
      z-index: 0;
}

#gallery {
    padding: 35px 70px 70px 70px;
    margin: 60px 70px 70px 70px;
    min-height: 100%
}
#gallery img {
    display: block;
    width: inherit;
    /*box-shadow: 10px 10px 5px black;*/
    /*-ms-transform: rotate(8deg);*/
    /*-webkit-transform: rotate(8deg);*/
    /*transform: rotate(8deg);*/
    z-index: 2;
}

#gallery a {
	background: white;
	display: inline;
	float: left;
	padding: 10px 10px 25px;
	-webkit-box-shadow: 10px 10px 15px black;
	-moz-box-shadow: 10px 10px 15px black;
	box-shadow: 10px 10px 15px black;
	-webkit-transition: all 0.30s linear;
	-moz-transition: all 0.30s linear;
	transition: all 0.30s linear;
	z-index: 3;
    position: relative;
    color: black;
    font-family: 'Waiting for the Sunrise', cursive;
    font-size: 1.6em;
	text-align: center;
	text-decoration: none;
}

#gallery a:nth-child(4n-7) {
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

#gallery a:nth-child(3n-7) {
    -ms-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}

#gallery a:nth-child(even) {
    -ms-transform: rotate(6deg);
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg);  
}


#gallery > a:after {
    text-decoration: none;
    content: "" attr(title) "";
    z-index: 4;
}
    
#gallery > a:hover {
    -ms-transform: rotate(0deg) scale(1.7);
    -webkit-transform: rotate(0deg scale(1.7));
    transform: rotate(0deg) scale(1.7);
    box-shadow: 5px 5px 20px black;
    z-index: 4;
}

#gallery a:nth-child(n+13) {
    margin-bottom: 60px;  
    position: relative;
    bottom: 60px;
}

nav {
    margin: 15px 50px 15px 15px;
    float: right;
    color: #FFF37F;
    font-weight: bold;
    font-family: 'Waiting for the Sunrise', cursive;
    font-size: 6em;
    position: fixed;
    right: 450px;
    top: 730px;
    text-decoration: none;
}

nav a:visited { color: #FFF37F; }
